@tailwind base;
@tailwind components;
@tailwind utilities;

.image{
    background-image: url(./assets/images/movie-login.jpg);
    background-size:cover;
    min-height:94vh;
}

.parent{
    position: relative;
}

.background{
   background-image: url(https://user-images.githubusercontent.com/33485020/108069438-5ee79d80-7089-11eb-8264-08fdda7e0d11.jpg);
   background-size: cover;
   filter: blur(2px);
   width: 100%;
    min-height:100vh;
    overflow-x: hidden;
    position: absolute;
    z-index: -1;
}

.background .child {
    filter:none;
}